
.profile{
    height: 600px;
    width: 40%;
    float: left;
    border: groove ;
    border-radius: 10px;
}
td{
 
    vertical-align: top;
    width: 25%;
}
table{
    /*border: solid;*/
    margin-left: 50px;
    text-align: left;
    width: 80%;
}
.avatar{
    position: absolute;
    width: 100px; 
    height: 100px;
    border: solid white;
    border-radius: 75px;
}
strong{
    color:darkgreen;
}
.status{ 

    text-align: left;
    height: 390px;
    width: 40%;
    float: left;
    border: groove ;
    border-radius: 10px;
}

.information{
    float: right;
    width: 58%;
    height: 1000px;
    border: groove;
    border-radius: 10px;
}

.tag{
    border-bottom: 1px solid #e7e7e7;
    list-style-type: none;
    margin:20px 30px 0px 30px;
    padding: 0;
    overflow: hidden;  
}

button:hover{
    color: darkturquoise;
}
button{
    border: 1px solid #e7e7e7 ;
    border-bottom: none ;  
    background-color: white;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  

.main-infor{
    margin-left: auto;
    margin-right: auto;
    height: 75%;
    width: 90%;
 
}
.anhr{

    padding-top: 30px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
